services:
  postgres:
    image: postgres:15
    container_name: shipfast-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: shipfast-redis
    command: redis-server --appendonly yes
    volumes:
       - redisdata:/data
    restart: unless-stopped

volumes:
  pgdata:
  redisdata: